@import "tailwindcss";


body {
    font-family: 'Inter', sans-serif; /* Use Inter font for the entire body *
    background-color: #fff; /* White background for clean design */
    color: #333; /* Standard text color for contrast */
}
